{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <h2>My Wishlists</h2>

    <!-- Floating Button -->
    <button class="floating-plus-btn" title="Create New Wishlist" data-toggle="modal" data-target="#createWishlistModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24">
            <circle cx="12" cy="12" r="10" fill="#007bff" />
            <path d="M12 6v12m-6-6h12" stroke="white" stroke-width="2" stroke-linecap="round" />
        </svg>
    </button>

    <!-- Modal for Creating Wishlist -->
    <div class="modal fade" id="createWishlistModal" tabindex="-1" role="dialog" aria-labelledby="createWishlistLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createWishlistLabel">Create New Wishlist</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'create_wishlist' %}">
                        {% csrf_token %}

                        <!-- Title -->
                        <div class="form-group">
                            <label for="wishlistTitle">Title</label>
                            <input type="text" class="form-control" id="wishlistTitle" name="title" placeholder="Enter wishlist title" required>
                        </div>

                        <!-- Description -->
                        <div class="form-group">
                            <label for="wishlistDescription">Description</label>
                            <textarea class="form-control" id="wishlistDescription" name="description" rows="3"></textarea>
                        </div>

                        <!-- Privacy -->
                        <div class="form-group">
                            <label for="wishlistPrivacy">Privacy</label>
                            <select class="form-control" id="wishlistPrivacy" name="privacy">
                                <option value="private" selected>Private</option>
                                <option value="public">Public</option>
                            </select>
                        </div>

                        <!-- Expiry Date -->
                        <div class="form-group">
                            <label for="wishlistExpiryDate">Expiry Date</label>
                            <input type="date" class="form-control" id="wishlistExpiryDate" name="expiry_date">
                            <small class="form-text text-muted">Leave blank for no expiry date.</small>
                        </div>

                        <button type="submit" class="btn btn-primary">Create Wishlist</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    {% if page_obj %}
    <div class="row">
    {% for wishlist in page_obj %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ wishlist.title }}</h5>
                <i class="card-text">Created by: <b>{{ wishlist.user.first_name }} {{ wishlist.user.surname }}</b></i>

                <!-- Display profile picture -->
                <div>
                    {% if wishlist.user.profile_picture %}
                        <img src="{{ wishlist.user.profile_picture.url }}" alt="Profile Picture" class="rounded-square" width="50" height="50">
                    {% else %}
                        <img src="{% static 'images/default.jpg' %}" alt="Default Profile Picture" class="rounded-square" width="50" height="50">
                    {% endif %}
                </div>

                <!-- Wishlist Description -->
                <p class="card-text">{{ wishlist.description|default:"No description available" }}</p>

                <!-- Display First 4 Items in the Wishlist -->
                {% for item in wishlist.items.all|slice:":4" %}
                <p class="mb-0">{{ item.quantity }} - {{ item.product.name }}</p>
                {% endfor %}

                <!-- Show how many more items if more than 4 -->
                {% if wishlist.items.count > 4 %}
                    <p>and {{ wishlist.items.count|add:"-4" }} more items</p>
                {% endif %}
                <hr class="mb-2 mt-0">

                <!-- Display Initial Cost of the Wishlist -->
                <p class="card-text mb-0">Initial Cost: <b><strike>${{ wishlist.total_cost }}</strike></b></p>
                <!-- Display Remaining Cost -->
                <p class="card-text">Remaining Cost: <b><strong>${{ wishlist.remaining_cost }}</strong></b></p>
                <hr class="mb-0">

                <!-- Display Total Contributions so far -->
                <p class="card-text mb-1">Total Contributions: <b><strong>${{ wishlist.total_contributions }}</strong></b></p>



                <!-- Days Left Until Expiry -->
                {% if wishlist.days_left %}
                    <p class="card-text"><b>{{ wishlist.days_left }}</b> day(s) left</p>
                {% else %}
                    <p class="card-text">No expiry date</p>
                {% endif %}

                <!-- Action Buttons -->

                <div class="d-flex">
                    <a href="{% url 'view_wishlist' wishlist.id %}" class="btn btn-primary">View Wishlist</a>
                    <a href="{% url 'edit_wishlist' wishlist.id %}" class="btn btn-secondary ml-2">Edit Wishlist</a>
                    {% if wishlist.title != 'General List' %}
                        <a href="{% url 'delete_wishlist' wishlist.id %}" class="btn btn-danger ml-2"
                           onclick="return confirm('Are you sure you want to delete this wishlist?');">
                            Delete Wishlist
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    <!-- Pagination -->
    <nav aria-label="Wishlist pagination">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    {% else %}
        <p>No wishlists available.</p>
    {% endif %}
</div>

{% endblock %}
