{% extends "base.html" %}

{% block title %}My Wishlists{% endblock %}

{% block content %}

<h2 class="mt-5">My Wishlists</h2>

<div class="row">
    {% for entry in wishlists_with_colors %}
    <div class="col-md-4 mb-4">
        <div class="card" style="background-color: #{{ entry.color }};">
            <div class="card-body">
                <h5 class="card-title title-highlight">{{ entry.wishlist.title }}</h5>
                <p class="card-text">{{ entry.wishlist.description }}</p>
            </div>

            <!-- Display the first 5 items and their prices -->
            <ul style="padding-left:0; list-style: none;">
                {% for item in entry.items_summary %}
                <li class="d-flex justify-content-between" style="display: flex; justify-content: space-between;">
                    <span>{{ item.item_name }}</span>
                    <span>{{ item.item_price }}</span>
                </li>
                {% endfor %}
            </ul>
            <hr>
            <!-- Display financial details -->
            <div class="container">
                <p style="text-align: right;"><strong>Total Price:</strong> {{ entry.total_price }}</p>
            </div>
            <a href="{% url 'view_wishlist' wishlist_id=entry.wishlist.id %}" class="btn btn-primary mt-3">View Wishlist</a>
        </div>
    </div>
{% endfor %}


</div>

{% endblock %}
