{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>{{ wishlist.title }}</h2>
    <p>{{ wishlist.description }}</p>
    <p>Privacy: {{ wishlist.get_privacy_display }}</p>

    <h4>Items</h4>
    <ul>
        {% for item in items %}
            <li style="list-style-type:none">
<!--                <input type="number" id="tentacles" name="tentacles" min="1" default="{{ item.quantity }}"-->
<!--                />-->
                {{ item.quantity }} - {{ item.product.name }} - {{ item.product.price }}
            </li>

        <div class="row mt-4">
            <div class="card">

            </div>
        </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}
